@import './common/common.scss';

.jerry{
  @include border-radius-top(10px);
  @include border-radius-bottom(10px);
}
.App {
  text-align: center;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@import './styles/_variables/variables';
@import './styles/_variables/variables-garba';
@import './styles/_mixins/mixins.scss';
@import './styles/_components/components.scss';

@import './styles/cart/cart';