/*GENERAL*/
.main-wrapper,
.gb-wrapper,
.main-container,
.cart-wrapper {
  max-width: 1366px;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  padding-left: 32px;
  padding-right: 32px;
}

header .gb-wrapper {
  margin-bottom: 0px;
}
.millasAPBorder {
  border-top: 1px solid #ddd;
  padding: 15px 0 0;
  margin-top: 10px;
}
/*ANIMATE*/
@keyframes example {
  0% {background-color: rgba(160, 220, 150, 0);color: #000;}
  50% {background-color: rgba(160, 220, 150, 1);color: #000;}
  100% {background-color: rgba(160, 220, 150, 0);color:  #0F7300;}
}
.highlight-benefit {
  //background-color:rgba(160, 220, 150, 1);
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: 1;
  color:  #0F7300;
}
/*ERROR*/
.gb-error {
  .gb-error-image {
    text-align: right;
    object {
      width: 250px!important;
      top: 0!important;
    }
    img {
      width: 250px!important;
      top: 0!important;
    }
  }
  .gb-error-content {
    padding: 70px 30px!important;
    p {
      margin-bottom: 20px;
    }
  }
}
/*LINK TO BUTTON*/
.link-to-button {
  background-color: transparent;
  border: 0;
  color: #4A90E2;
  padding: 0;
}
.link-to-button:hover {
  text-decoration: underline;
}

/*MODAL*/
.modal-open .gui-modal {
  background-color: rgba(0, 0, 0, 0.5);
}
#arplus-tyc ul li {
  list-style-type: disc;
  margin-bottom: 20px;
  line-height: 1.3em;
}
/*ESTRUCTURA*/
.product-summary-gbChk {
  position: relative;

  .summary-gbChk {
    position: relative;

    .summary {
      margin-bottom: 16px;
    }

    .summary-absolute {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding-left: 15px;
      padding-right: 15px;
    }

    .summary-fixed {
      position: fixed;
      right: 175px;
      top: 150px;
      width: 27.1201%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

/*SUMMARY*/
.displaynone {
  display: none !important;
}
.alert-success{
  color: #030303;
  background-color: #a0dc96;
}

/*VENDEDOR*/
.formContainer {
  position: relative;
  padding-bottom: 3em;
  padding-top: 3em;

  .por-favor {
    font-size: 25px;
    margin-top: 30px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
  }

  label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
  }
}

#garba-image {
  width: 100px;
  margin-right: 10px;
}

#compu-image {
  width: 100px;
}

#apynTxt {
  width: 200px;
}

#purchaseButton {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}


/*PRODUCT EMPRESARIAS*/

.column-empresarias {
  flex: 0 0 100px !important;
}

@import "./styles/GUI/_variables/_variables";
@import "./styles/GUI/_variables/_variables-garba";
@import "./styles/GUI/_mixins/mixins";
@import "./styles/GUI/_components/components";

@import "./styles/cart/cart";