@import './variables.scss';

/*GENERAL*/
.main-wrapper, .gb-wrapper, .main-container, .cart-wrapper {
  max-width: 1366px;
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  padding-left: 32px;
  padding-right: 32px;
  margin-bottom: 32px;
}
/*ESTRUCTURA*/
.product-summary-gbChk{
  position: relative;
  .summary-gbChk {
    position: relative;
    .summary {
      padding-right: 15px;
      margin-bottom: 16px;
    }
    .summary-absolute {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding-left: 15px;
      padding-right: 15px;
    }
    .summary-fixed {
      position: fixed;
      right: 175px;
      top: 150px;
      width: 27.120100%;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

/*SUMMARY*/
.displaynone {
  display: none;
}




@import './styles/GUI/_variables/_variables.scss';
@import './styles/GUI/_variables/_variables-garba.scss';
@import './styles/GUI/_mixins/mixins.scss';
@import './styles/GUI/_components/components.scss';

@import './styles/cart/cart';








