// CAROUSEL

.add-products-module {
   margin: 50px 0;
   @media (max-width: 1024px){
      display: none;
   }
}

.carousel  {
   overflow: hidden;
   position: relative;

   &:hover{
      .gb-carousel-module-control {
         visibility: visible;
         transform: opacity(1);

         &.gb--prev {
            left: 0
         }
         &.gb--next {
            right: 0
         }
      }
   }

   .carousel-wrapper  {
      align-items: stretch;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
   }

   .carousel-item {
      border-radius: 4px;
      border: 1px solid transparent;
      height: auto;
      margin-bottom: 10px;
      margin-top: 10px;
      max-width: 205px;
      position: relative;
      text-align: center;
      text-align: center;
      width: auto;

      &:hover {
         border: 1px solid $card-border-color;
      }

      *:hover {
         text-decoration: none;
      }
   }


   //Separa el primer y último item del contenedor
   .carousel-slider--has-padding {
      .carousel-item:first-child {
         margin-left: 30px;
      }

      .carousel-item:last-child {
         margin-right: 30px;
      }
   }

   // con botón en la parte inferior
   .carousel-item--with-actions {
      padding-bottom: rem(50);

      .carousel-item-content {
         padding-bottom: 0;
      }

      .carousel-item-actions {
         bottom:$spacer-base;
         left: 0;
         position: absolute;
         right: 0;
      }
   }
}



.carousel-item-content {
   display: block;
   height: 100%;
   min-width: 205px;
   padding: 15px;

   picture {
      display: block;
      margin: 0 auto 28px;
      padding-top: 160px;
      position: relative;
      width: 160px;
            
      img {
         left: 50%;
         max-height: 100%;
         max-width: 100%;
         opacity: 1;
         position: absolute;
         top: 50%;
         transform: translate(-50%, -50%) scale(1);
         transition : all 0.2s ease-out;
      }
   }

   h3 {
      @include ellipsis-inline;
      color: $carusel-product-name-color;
      font-size: $carusel-product-name-font-size;
      left: 16px;
      position: absolute;
      right: 16px;
      top: 182px;
   }

   &:hover {
      
      picture { 
         img{
            transform: translate(-50%, -50%) scale(.9);
         }
      }
   }
}


// arrows de carruseles
.gb-carousel-module-control {
   background-color: $white;
   background-image: none;
   color: $blue;
   cursor: pointer;
   display: block;
   font-size: 26px;
   height: 86px;
   margin-top: -43px;
   position: absolute;
   text-align: center;
   text-decoration: none;
   top: 50%;
   transform: opacity(0);
   visibility: hidden;
   width: 40px;
   z-index: 4;

   &.swiper-button-disabled {
      display: none;
   }


   &:before {
     color:$action-color;
     display: block;
     font-family: $icon-font-name;
     font-size: rem(26);
     left: 0;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     width: 100%;
   }

   &.gb--prev {
      border-radius: 0 3px 3px 0;
      left: -40px;

      &:before {
         content: $gui-icon-arrow-bold-left;
      }
      
      &:hover, &:focus {
         box-shadow: 1px 0 3px rgba(0,0,0,0.75);
         text-decoration: none;
      }
   }

   &.gb--next {
      border-radius:3px 0 0 3px;
      right: -40px;

      &:before {
         content: $gui-icon-arrow-bold-right;
      }

      &:hover, &:focus {
         text-decoration: none;
         box-shadow: -1px 0 3px rgba(0,0,0,0.75);
      }
   } 
}

