@import "../GUI/_variables/_variables";


.cart-title {
   border-bottom: 1px solid $card-border-color;
   font-size:rem(20);
   margin:$spacer-lg 0;
   padding-bottom: $spacer-sm;
}

.feedback {
	margin-bottom: $spacer-lg ;
}