container_commands:
  01_deply_to_s3:
      command: 'if [ "$APP_ENV" == "ci" ]; then aws s3 sync --acl public-read-write server/public/garbarino s3://garbarino-fe/cart-ui/garbarino/ci --delete  && aws s3 sync --acl public-read-write server/public/compumundo s3://garbarino-fe/cart-ui/compumundo/ci --delete && aws s3 sync --acl public-read-write server/public/empresarias s3://garbarino-fe/cart-ui/empresarias/ci --delete;fi'
      leader_only: true
  02__deply_to_s3:
      command: 'if [ "$APP_ENV" == "staging" ]; then aws s3 sync --acl public-read-write server/public/garbarino s3://garbarino-fe/cart-ui/garbarino/staging --delete  && aws s3 sync --acl public-read-write server/public/compumundo s3://garbarino-fe/cart-ui/compumundo/staging --delete && aws s3 sync --acl public-read-write server/public/empresarias s3://garbarino-fe/cart-ui/empresarias/staging --delete;fi'
      leader_only: true
  03_deply_to_s3:
      command: 'if [ "$APP_ENV" == "master" ]; then aws s3 sync --acl public-read-write server/public/garbarino s3://garbarino-fe/cart-ui/garbarino/master --delete  && aws s3 sync --acl public-read-write server/public/compumundo s3://garbarino-fe/cart-ui/compumundo/master --delete && aws s3 sync --acl public-read-write server/public/empresarias s3://garbarino-fe/cart-ui/empresarias/master --delete;fi'
      leader_only: true