container_commands:
  00_copy_build_garba_to_s3:
    command: aws s3 sync --acl public-read-write client/build-garba s3://cart-ui-ci.garbarino.com/reactcart
    leader_only: true
  01_copy_build_compu_to_s3:
    command: aws s3 sync --acl public-read-write client/build-compu s3://cart-ui-ci.compumundo.com.ar/reactcart
    leader_only: true