files:
  "/home/ec2-user/setup.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      echo "============================"
      echo "${APP_ENV}"
      echo "============================"
      echo ${APP_ENV}
      echo "============================"
      echo $APP_ENV
      echo "============================"
      if [ "${APP_ENV}" == "ci" ]; then
        aws s3 sync --acl public-read-write server/public/garbarino s3://garbarino-fe/cart-ui/garbarino/ci --delete  
        aws s3 sync --acl public-read-write server/public/compumundo s3://garbarino-fe/cart-ui/compumundo/ci --delete
        aws s3 sync --acl public-read-write server/public/empresarias s3://garbarino-fe/cart-ui/empresarias/ci --delete
      fi
      if [ "${APP_ENV}" == "staging" ]; then
        aws s3 sync --acl public-read-write server/public/garbarino s3://garbarino-fe/cart-ui/garbarino/staging --delete  
        aws s3 sync --acl public-read-write server/public/compumundo s3://garbarino-fe/cart-ui/compumundo/staging --delete
        aws s3 sync --acl public-read-write server/public/empresarias s3://garbarino-fe/cart-ui/empresarias/staging --delete
      fi

      # Commands that will be run on containter_commmands
      # Here the container variables will be visible as environment variables.

container_commands:
  set_up:
    command: /home/ec2-user/setup.sh