@import "../_variables/variables";

@font-face {
  font-family: 'gui-icons';
  src:  url('fonts/gui-icons.eot');
  src:  url('fonts/gui-icons.eot') format('embedded-opentype'),
    url('fonts/gui-icons.ttf') format('truetype'),
    url('fonts/gui-icons.woff') format('woff'),
    url('fonts/gui-icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="gui-icon-"], [class*=" gui-icon-"], .icon-truck:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gui-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

//tamaños
.icon--xs {
  font-size: rem(14);
}

.icon--sm {
  font-size: rem(16);
}

.icon--md {
  font-size: rem(18);
}
.icon--lg {
  font-size: rem(20);
}



.icon--has-action {
  color: $action-color;
  cursor: pointer;
}

.icon--has-action:hover {
  color: $action-color-hover;
}


.gui-icon-close:before { content: $gui-icon-close;}
.gui-icon-error:before { content: $gui-icon-error;}
.gui-icon-info:before { content: $gui-icon-info;}
.gui-icon-success:before { content: $gui-icon-success;}
.gui-icon-warning:before { content: $gui-icon-warning;}
.gui-icon-free-send:before, .icon-truck:before  {content: $gui-icon-free-send;}
.gui-icon-question-mark-circle:before { content: $gui-icon-question-mark-circle;}
.gui-icon-trash:before { content: $gui-icon-trash;}
.gui-icon-checkmark:before { content: $gui-icon-checkmark;}
.gui-icon-arrow-bold-left:before { content: $gui-icon-arrow-bold-left;}
.gui-icon-arrow-bold-right:before { content: $gui-icon-arrow-bold-right;}
.gui-icon-arrow-thin-bottom:before { content: $gui-icon-arrow-thin-bottom;}
.gui-icon-arrow-thin-left:before { content: $gui-icon-arrow-thin-left;}
.gui-icon-arrow-thin-right:before { content: $gui-icon-arrow-thin-right;}
.gui-icon-arrow-thin-top:before { content: $gui-icon-arrow-thin-top;}
